In [1]:
import yfinance as yf
import pandas as pd

ticker = yf.Ticker("QQQ")

# get all stock info
ticker.info

# get historical market data
hist = ticker.history(period="max")

# Calculate 5-day Simple Moving Average (SMA)
hist['5D SMA'] = hist['Close'].rolling(window=5).mean()

# Calculate 13-day Simple Moving Average (SMA)
hist['13D SMA'] = hist['Close'].rolling(window=13).mean()

# Calculate Area btw 5-day Simple Moving Average and 13-day Simple Moving Average
hist['Area btw'] = hist['5D SMA'] - hist['13D SMA']

# Calculate 5-day Average Volume
hist['5DA Volume'] = hist['Volume'].rolling(window=5).mean()

# Calculate 13-day Average Volume
hist['13DA Volume'] = hist['Volume'].rolling(window=13).mean()

# Calculate 25-day Average Volume
hist['25DA Volume'] = hist['Volume'].rolling(window=25).mean()

# Caclulate 5-day Enter Signal
hist['5DA Enter Signal'] = ((hist['Volume'] > hist['Volume'].shift(1)) & (hist['5DA Volume'] > hist['5DA Volume'].shift(1))).astype(int)

# Caclulate 13-day Enter Signal
hist['13DA Enter Signal'] = ((hist['Volume'] > hist['Volume'].shift(1)) & (hist['13DA Volume'] > hist['13DA Volume'].shift(1))).astype(int)

# Caclulate 25-day Enter Signal
hist['25DA Enter Signal'] = ((hist['Volume'] > hist['Volume'].shift(1)) & (hist['25DA Volume'] > hist['25DA Volume'].shift(1))).astype(int)

#Calculate Total Enter Signal
hist['Total Enter Signal'] = hist['5DA Enter Signal'] + hist['13DA Enter Signal'] + hist['25DA Enter Signal']

hist

# show meta information about the history (requires history() to be called first)
#qqq.history_metadata

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains,5D SMA,13D SMA,Area btw,5DA Volume,13DA Volume,25DA Volume,5DA Enter Signal,13DA Enter Signal,25DA Enter Signal,Total Enter Signal
Date,,,,,,,,,,,,,,,,,,
1999-03-10 00:00:00-05:00,43.531511,43.558120,42.813082,43.478294,5232000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0
1999-03-11 00:00:00-05:00,43.797611,44.050392,42.839705,43.691177,9688600,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0
1999-03-12 00:00:00-05:00,43.531516,43.558125,42.280917,42.626827,8743600,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0
1999-03-15 00:00:00-05:00,42.946118,43.904024,42.493774,43.850807,6369000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0
1999-03-16 00:00:00-05:00,44.037072,44.409591,43.558119,44.223331,4905800,0.0,0.0,0.0,43.574088,NaN,NaN,6987800.0,NaN,NaN,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-09-13 00:00:00-04:00,472.480011,476.529999,472.250000,475.339996,29111800,0.0,0.0,0.0,466.059998,465.960768,0.099229,37958360.0,3.782995e+07,35380008.0,0,0,0,0
2024-09-16 00:00:00-04:00,473.190002,473.859985,469.890015,473.239990,22585600,0.0,0.0,0.0,469.815997,465.689998,4.126000,35879240.0,3.745115e+07,34940472.0,0,0,0,0
2024-09-17 00:00:00-04:00,476.290009,477.600006,470.970001,473.489990,30084400,0.0,0.0,0.0,472.781995,465.854612,6.927383,35960060.0,3.689053e+07,35032048.0,1,0,1,2
2024-09-18 00:00:00-04:00,474.700012,478.829987,470.829987,471.440002,39909200,0.0,0.0,0.0,473.345996,465.914612,7.431384,32373300.0,3.680035e+07,35025036.0,0,0,0,0
2024-09-19 00:00:00-04:00,482.609985,486.230011,480.489990,483.359985,52782500,0.0,0.0,0.0,475.373993,466.459996,8.913997,34894700.0,3.828620e+07,35746988.0,1,1,1,3

In [2]:
columns_of_interest = ["Open", "High", "Low", "Close", "Volume", 
                       "5D SMA", "13D SMA", "Area btw", "Total Enter Signal"]

simple_hist = hist[columns_of_interest]
simple_hist.tail(21)

,Open,High,Low,Close,Volume,5D SMA,13D SMA,Area btw,Total Enter Signal
Date,,,,,,,,,
2024-08-21 00:00:00-04:00,481.049988,484.369995,479.320007,482.500000,25658800,478.696002,459.870770,18.825232,0
2024-08-22 00:00:00-04:00,484.839996,485.540009,473.809998,474.850006,37739600,478.782001,462.907694,15.874307,0
2024-08-23 00:00:00-04:00,479.239990,482.739990,475.279999,480.000000,36061500,479.776001,466.020771,13.755230,0
2024-08-26 00:00:00-04:00,479.450012,480.380005,473.239990,475.339996,27452600,478.590002,469.141541,9.448462,0
2024-08-27 00:00:00-04:00,473.690002,477.839996,471.709991,476.760010,27510000,477.890002,471.348464,6.541539,1
2024-08-28 00:00:00-04:00,476.290009,477.019989,467.890015,471.350006,37372400,475.660004,472.959233,2.700770,2
2024-08-29 00:00:00-04:00,473.279999,477.929993,469.369995,470.660004,41081500,474.822003,474.442310,0.379693,2
2024-08-30 00:00:00-04:00,475.040009,476.899994,470.510010,476.269989,33466500,474.076001,475.495387,-1.419386,0
2024-09-03 00:00:00-04:00,473.200012,473.329987,459.410004,461.809998,44985200,471.370001,475.424617,-4.054616,3
2024-09-04 00:00:00-04:00,458.670013,464.450012,457.730011,460.609985,32505100,468.139996,474.362307,-6.222311,0
2024-09-05 00:00:00-04:00,458.970001,465.359985,457.940002,461.040009,34452400,466.077997,473.286154,-7.208157,0
2024-09-06 00:00:00-04:00,460.329987,461.220001,448.190002,448.690002,50624400,461.683997,470.780001,-9.096005,2
2024-09-09 00:00:00-04:00,453.059998,455.459991,449.820007,454.459991,32981200,457.321997,468.795384,-11.473387,0
2024-09-10 00:00:00-04:00,456.239990,459.170013,452.230011,458.660004,29680300,456.691998,466.961538,-10.269540,0
2024-09-11 00:00:00-04:00,459.910004,469.369995,451.279999,468.619995,57843000,458.294000,466.482307,-8.188307,2
2024-09-12 00:00:00-04:00,468.649994,474.040009,466.850006,473.220001,40175500,460.729999,465.960768,-5.230770,0
2024-09-13 00:00:00-04:00,472.480011,476.529999,472.250000,475.339996,29111800,466.059998,465.960768,0.099229,0
2024-09-16 00:00:00-04:00,473.190002,473.859985,469.890015,473.239990,22585600,469.815997,465.689998,4.126000,0
2024-09-17 00:00:00-04:00,476.290009,477.600006,470.970001,473.489990,30084400,472.781995,465.854612,6.927383,2
2024-09-18 00:00:00-04:00,474.700012,478.829987,470.829987,471.440002,39909200,473.345996,465.914612,7.431384,0
2024-09-19 00:00:00-04:00,482.609985,486.230011,480.489990,483.359985,52782500,475.373993,466.459996,8.913997,3